
{% extends 'front.html.twig' %}
{% block body %}
    <div class="container">
        <div class="listing_header">
            <div class="listview show_listing">
                <h1>Ajouter Reservation</h1>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}